# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Database
*.sqlite3
*.db
bis_booknest_db.sql

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
